* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

#canvas {
  width: 100%;
  height: 100%;
}

#left-person-mouth {
  transform-origin: 28% 50%;
}

#right-person-mouth {
  transform-origin: 71% 50%;
}

#heart {
  transform-origin: 56% 60%;
}

main, article {
  width: 100%;
  height: 100%;
}

main > article {
  display: flex;
  padding: 2em 1em;
}

article > *:first-child {
  flex: 0 0 80%;
}

article > *:last-child {
  flex: 0 0 20%;
  align-self: center;

  overflow-y: auto;
  max-height: 100%;
}
